<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Inter</title>
    <th:block layout:fragment="page-specific-head">

    </th:block>
</head>
<body layout:fragment="content">

<div class="container text-center py-5">
    <h1 class="display-1 fw-bold text-warning">500</h1>
    <p class="fs-3">
        <span class="text-danger">Something went wrong</span>
    </p>
    <p class="lead">
        Something unexpected happened, if this is error contact admin.
    </p>
    <a th:href="@{/}" class="btn btn-warning mt-3">Back to Main</a>
</div>

</body>
</html>