.hero {
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}